body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(81, 46, 46);
  gap: 32px;
  padding-top: 32px;
}

.activeplan {
  margin-top: 32px;
  width: 30%;
  height: 550px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3a3a3;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.membarshipplan {
  width: 80%;
  height: 800px;
  margin-top: 32px;
  padding: 16px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(81, 46, 46);
}

.pricing-plans {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 64px;
  background-color: rgb(81, 46, 46);
}

.pricing-card {
  position: relative;
  min-width: 360px;
  height: 450px;
  padding: 32px;
  padding-bottom: 96px;
  border-radius: 4px;
  border: 1px solid #262626;
  background-color: #a39d9d20;
  box-shadow: 0 0 32px transparent;
  text-align: center;
  transition: all 0.5s ease;
}

.pricing-card:hover {
  border-color: #0891b2;
  background-color: #d8baba20;
  box-shadow: 0 0 32px #171717;
  transform: translateY(-16px) scale(1.02);
}

.pricing-card > *:not(:last-child) {
  margin-bottom: 32px;
}

.pricing-card .heading h4 {
  padding-bottom: 12px;
  color: #0891b2;
  font-size: 24px;
  font-weight: normal;
}

.pricing-card .heading p {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: lighter;
}

.pricing-card .price {
  position: relative;
  color: #0891b2;
  font-size: 60px;
  font-weight: bold;
}

.pricing-card .price sub {
  position: absolute;
  bottom: 14px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: lighter;
}

.pricing-card .features li {
  padding-bottom: 16px;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
}

.pricing-card .features li i,
.pricing-card .features li strong {
  color: #e4e4e7;
  font-size: 16px;
  text-align: left;
}

.pricing-card .features li strong {
  padding-left: 24px;
}

.pricing-card .cta-btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #0891b2;
  background-color: #0891b2;
  color: #e4e4e7;
  font-size: 20px;
  font-weight: bold;
}

.pricing-card .cta-btn:active {
  background-color: transparent;
  color: #0891b2;
  transition: all 0.3s ease;
}
