<div class="main">
  <div class="details">
    <div class="recentOrders">
      <div class="cardHeader">
        <h2>Available Member</h2>
        <a class="btn">57</a>
      </div>

      <div class="cards">
        @for(member of member; track member) {
          <a [routerLink]="['/memberprofile']">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <div class="header-content">
                  <mat-card-title>{{member.membername}}</mat-card-title>
                </div>
              </mat-card-header>
              <img mat-card-image [src]="member.memberimage" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h4>{{member.memberlocation}}</h4>
              </mat-card-content>
            </mat-card>
          </a>
        }
        
      </div>
    </div>
  </div>
</div>
