
<div class="card_wrapper">
    <label for="" class="hedding"> Enter Manager Details</label>
    <div class="container form-container">
       
        <form (ngSubmit)="admanager()">
            <mat-form-field class="example-full-width">
                <mat-label>Enter Manager Library Id</mat-label>
                <input matInput [(ngModel)]="data.library_id" placeholder="LB101" type="text" name="text">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Enter Manager Name</mat-label>
                <input matInput [(ngModel)]="data.name" placeholder="Book Name" type="text" name="text">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Enter Manager Email</mat-label>
                <input matInput [(ngModel)]="data.email" placeholder="example@gmail.com" type="email" name="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Enter Manager Mobile No</mat-label>
                <input matInput [(ngModel)]="data.mobile" placeholder="6458246785" type="number" name="number">

            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Enter Image URL</mat-label>
                <input matInput [(ngModel)]="data.profile_url" placeholder="http://example.png" type="text" name="text">
            </mat-form-field>
            <!-- <div class="custom-file-upload">
                <label for="image">Upload Image</label>
                <input type="file" id="image" (change)="onFileSelected($event, 'image')">
              </div> -->
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="data.password" [type]="hide ? 'password' : 'text'" placeholder="****" name="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </mat-form-field>
            <div class="example-button-row">
                <button mat-flat-button color="primary">Submit</button>
              </div>
        </form>
    </div>
  </div>

