<nav class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <h1>Library</h1>
      </div>
      <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search books...">
        <button class="search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  
    <ul class="nav-list">
      <li class="search-container-mobile">
        <input type="text" class="search-bar-mobile" placeholder="Search books...">
        <button class="search-button-mobile">
          <i class="fa fa-search"></i>
        </button>
      </li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li class="profile-container">
        <img [src]="profilePictureUrl" alt="Profile Picture" (click)="toggleDropdown()" class="profile-picture">
        <div class="dropdown-menu" [class.show]="dropdownVisible">
          <a [routerLink]="['/userbook']">My Books</a>
          <a [routerLink]="['/buymembership']">Buy Membership</a>
          <a [routerLink]="['/setting']">My Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>

  <app-books></app-books>