<!-- <app-nav></app-nav> -->
<div class="cardBox">
    <!-- <a >
        <div class="card">
            <div>
                <div class="numbers">Library Details</div>
                <div class="cardName">See the Details</div>
            </div>

        </div>
    </a> -->

    <a href="/addmember">
        <div class="card">
            <div>
                <div class="numbers">Add members</div>
                <div class="cardName">Ofline Add Member </div>
            </div>
        </div>
    </a>

    
    <!-- <a href="allbooks.html">
        <div class="card">
            <div>
                <div class="numbers">Lend books</div>
                <div class="cardName">Details about the lend</div>
            </div>
        </div>
    </a> -->

    <a [routerLink]="['/createsection']">
        <div class="card">
            <div>
                <div class="numbers">Make a Section</div>
                <div class="cardName">Create your won book section</div>
            </div>
        </div>
    </a>


    <a [routerLink]="['/allbooks']">
        <div class="card">
            <div>
                <div class="numbers">Total Books</div>
                <div class="cardName">48</div>
            </div>
        </div>
    </a>

    <a [routerLink]="['/viewmember']">
        <div class="card">
            <div>
                <div class="numbers">Members</div>
                <div class="cardName">See the member detsils</div>
            </div>
        </div>
    </a>

    <a [routerLink]="['/comments']">
        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Comments</div>
            </div>
        </div>
    </a>

    <div class="card">
        <div>
            <div class="numbers">₹7,842</div>
            <div class="cardName">Earning</div>
        </div>
    </div>
</div>