  <!-- <section class="pricing-plans">
    <div *ngFor="let membership of data.memberships" class="pricing-card">
      <div class="heading">
        <h4>{{ membership.type }}</h4>
        <p>for {{ membership.duration_in_months }} Months User</p>
      </div>
      <p class="price">
        {{ membership.price }}/-
      </p>
      <ul class="features">
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Library</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Ebook's</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>24/7</strong> support
        </li>
      </ul>
      <button class="cta-btn">SELECT</button>
    </div>
  </section>
   -->

   <section class="pricing-plans" *ngIf="data.memberships; else loading">
    <div *ngFor="let membership of data.memberships" class="pricing-card">
      <div class="heading">
        <h4>{{ membership.type }}</h4>
        <p>for {{ membership.duration_in_months }} Months User</p>
      </div>
      <p class="price">
        {{ membership.price }}/-
      </p>
      <ul class="features">
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Library</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Ebook's</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>24/7</strong> support
        </li>
      </ul>
      <button class="cta-btn">SELECT</button>
    </div>
  </section>
  
  <ng-template #loading>
    <div class="loader-container">
      <div class="spinner"></div>
    </div>
  </ng-template>
  
  