<section class="pricing-plans">
    <div class="pricing-card lite">
      <div class="heading">
        <h4>Lite</h4>
        <p>for 3 Months User</p>
      </div>
      <p class="price">
        249/-
      </p>
      <ul class="features">
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Library</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Ebook's</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>24/7</strong> support
        </li>
      </ul>
      <button class="cta-btn">SELECT</button>
    </div>
    <div class="pricing-card platinam">
      <div class="heading">
        <h4>Platinam</h4>
        <p>for 6 Months User</p>
      </div>
      <p class="price">
        499/-
      </p>
      <ul class="features">
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Library</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Ebook's</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>24/7</strong> support
        </li>
      </ul>
      <button class="cta-btn">SELECT</button>
    </div>
    <div class="pricing-card gold">
      <div class="heading">
        <h4>Gold</h4>
        <p>for 1 year User</p>
      </div>
      <p class="price">
        899/-
      </p>
      <ul class="features">
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Library</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>All The Ebook's</strong> Access
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <strong>24/7</strong> support
        </li>
      </ul>
      <button class="cta-btn">SELECT</button>
    </div>
  </section>